@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LASERS! PEW PEW PEW</h1>

    <img src="https://media3.giphy.com/media/EWKJvpuRlBocM/giphy.gif"/>


    <br/>
    <br />


    @using (Html.BeginForm("Deactivate", "Home", FormMethod.Post))
    {
        <input type="submit" value="Deactivate laser pointer" id="Submit" class="btn btn-danger" onclick="location.href='@Url.Action("Activate")'" />

    }

</div>
