@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

<pre class="">    /\_____/\
   /  o   o  \
  ( ==  ^  == )
   )         (
  (           )
 ( (  )   (  ) )
(__(__)___(__)__)
</pre>




    @using (Html.BeginForm("Activate", "Home", FormMethod.Post))
    {
        <input type="submit" value="Activate laser pointer" id="Submit" class="btn btn-danger" onclick="location.href='@Url.Action("Activate")'" />

    }

</div>
