@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

<pre class="">    /\_____/\
   /  o   o  \
  ( ==  ^  == )
   )         (
  (           )
 ( (  )   (  ) )
(__(__)___(__)__)
</pre>

    <!-- atcivated state -->

<pre>
    _ 
    / ) 
   / /  
  / /               /\ 
 / /     .-```-.   / ^`-.  
 \ \    /       \_/  (|) `o 
  \ \  /   .-.   \\ _  ,--' 
   \ \/   /   )   \( `^^^  
    \   \/    (    )  
     \   )     )  /     
      ) /__    | (__  
     (___)))   (__)))
</pre>


    <button type="button" class="btn btn-danger">Activate laser pointer</button>
    <button type="button" class="btn btn-danger">Deactivate laser pointer</button>

</div>
